@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Catamaran", sans-serif;
}



.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #1b0238;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}

/* Universal css start */
 .text-orange2{color: #FD4628;}
 .text-black2{color: #1B0238 !important;}
 .text-silver{color: #6B6B84;}

 .bg-light-orange{    background-color: #fee9ca}
 .bg-orange2{color: #FD4628;}
 .bg-yello1{color: #f5890d;}
 .bg-yello{background: #f5890d;}
 .bg-orange3{background: #FD4628;}
 .bg-lite-yellow{background: #fee9ca;}
 .bg-value1{background-color: #d3f5fe;}
 .bg-value2{background-color: #fce0ad;}
 .bg-value3{background-color: #fbc9d5;}

  .top-4{top: 4%;}
  .top-5{top: 5%;}
  .top-10{top: 10%;}
  .start-10{left: 10%;}
  .top-20{top: 10%;}

.pt-10{padding-top: 100px;}
.pt-15{padding-top: 150px;}
.pt-20{padding-top: 200px;}
.pb-70{padding-bottom: 70px;}
.pb-80{padding-bottom: 80px;}
.pb-90{padding-bottom: 90px;}
.pb-100{padding-bottom: 100px;}


  .mt-10{margin-top: 100px;}   
  .mt-15{margin-top: 170px;}   
  .mt-20{margin-top: 200px;}  
  .ms-6{margin-left: 90px;} 
  
  p{font-size: 16px; 
    margin-bottom: 15px;
    font-weight: 400;
    color: #6b6b84;
    font-family: "Roboto", sans-serif;   
 }

 .fs-6{font-size: 16px;}
 .fs-15{font-size: 15px;}
 .fs-25{font-size: 25px;}
 .fs-7{font-size: 19px;}
 .fs-8{font-size: 30px;}
 .fs-9{font-size: 60px;}
 .line-height-1{line-height: 30px;
    font-weight: 400;}

 .btn-1{
     color: #fff;
     font-size: 16px;
     transition: 0.5s;
     font-weight: 500;
     padding: 12px 35px;
     position: relative;
     border-radius: 10px;
     background:#FD4628;
     display: inline-block;
     transition-timing-function: ease;
 }
 .btn-2{
     color: #fff;
     font-size: 16px;
     transition: 0.5s;
     font-weight: 500;
     padding: 12px 35px;
     position: relative;
     border-radius: 10px;
     background: #f5890d;
     display: inline-block;
     transition-timing-function: ease;
 }   
 .btn-1:hover{
     color: #fff;
     background: #f5890d;
 }
 .btn-2:hover{
     color: #fff;
     background: #FD4628;
 }
 .text-black:hover {color:#FD4628;}

img{
    display: inline-block;
    max-width: 100%;
    height:  auto;
}

/* /Universal css end */

/* nav section start */
header .navbar{
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 99;
    background-color:white;
}
.active{
    color: #FD4628 !important;
}
.dropdown-menu{
    width: 280px;
    border: none;
    border-radius: 0px;
    transition: 0.4 all ;
    box-shadow: 0px 0px 15px 0px #ccc;
}
a.nav-link:hover,
a.dropdown-item:hover{
    color: #FD4628 !important;
    transition: 0.2s linear !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
    top: 50px;
}
header  ul li a,
header .navbar-nav a{
    font-size: 18px;
}
/* /nav section end */

/* Hero section start */
.banner{
        width: 100%;
        height: 700px;
        background-size: cover !important;
        background-position: center center;
        background: url(../img/main-banner-bg.jpg);
}


.banner .shape-1{
   margin-top: 3.5%;
   left: .7%;
   position: absolute;
   animation: move 2s linear infinite alternate;
}
.banner .shape-2{
    margin-top:3.5%;
    left:50%;
    position: absolute;
    animation: move2 2s linear infinite alternate;
 }

.banner .shape-3{
    top: 69%;
    left: .2%;
    z-index: 1;
    position: absolute;
    animation: move 2s linear infinite alternate;
}
.banner .shape-4{
    top: 80%;
    left: 50%;
    z-index: 1;
    position: absolute;
    animation: move4 2s linear infinite alternate;
}
 .banner .cloud-image{
    margin-top: 50%;
 }
/* /Hero section end */

/* who we are section start */
.who-we span,
.popular span,
.core-value span,
.teacher span,
.testimonials span,
.event span{
    font-weight: 600;
    font-size: 20px;
    color: #FD4628;
    font-family:  'Sacramento', cursive;
}
h3{
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.who-we p{

    margin-bottom:0px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.who-we-are .image::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 10s linear infinite alternate forwards;
}
.who-we-are .image{
    text-align: center;
    position: relative;
    z-index: 1;
}

.who-we-are .image img{
    border-radius: 50%;
    padding: 20px;
}

.who-we-are .image::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:#f5890d;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 50s linear infinite alternate forwards;
}

.who-we ul li{
    line-height: 30px;
    margin-bottom: 20px;
    font-weight:600;
    font-size: 16px;
    
}

.who-we ul li span{
    width: 30px;
    height: 30px;
   
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    background: #FD4628;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.8s;
    font-family:"Roboto", sans-serif;
}
.who-we ul li:hover span{
    background: #f5890d;
    transition: all 0.5s linear;
    transition-duration: 0.8s;
}
.who-we-shape{
   margin-top: -50px;
    margin-left: 85%;
    left: .7%;
    position: absolute;
    animation: move 2s linear infinite alternate;
}

/* /who we are section end */

/* Our popular section start */
.popular .card-body .price{
    position: absolute;
    display: inline-block;
    padding: 10px;
    background-color: #ea512e;
    right: 0;
    top: 272px;;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    border-radius: 0 0 0 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.popular .card:hover .price{
    background: #f5890d;
}
.popular .card:hover h4{
    color: #FD4628;
    transition: 0.5s;
}
.popular .card:hover img{
    transform: rotate(1deg) scale(1.09);
    transition: all 0.3s linear;
}

.popular .card-body ul li span{
    font-weight: 500;
    font-size: 16px;
    color: #FD4628;
    font-family: "Roboto", sans-serif; 

}
.popular .card-body ul li {
    font-size:16px;
    font-weight: 500;
}
.popular .card-body ul{
 border-top-width: 1px;
 border-top-style: dashed;
 border-top-color: #ea512e;
 }

 .popular .class-shape .shape-1 img{
    margin-top:-8%;
  margin-left: 0%;
 }

 .popular .class-shape .shape-2 img{

   margin-top:-30%;
   margin-left: 77.80%;
 }


/* Our popular section end */

/* Our core value section start */

.core-value .number{
    width: 60px;
    height: 60px;
    margin-top: 1.5%;
    margin-right:10px;
    font-size: 25px;
    color: #1b0238;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    outline-offset: 4px;
    transition: all 0.5s;
    border: 0px solid #fff;
    outline: 2px solid #ccc;
}

.core-value .number:hover{
    color: #fff;
    background: #ea512e;
    transition: all 0.5s;
    outline: 2px solid #ea512e;
}
/* Our core value section end */

/* Our core teacher section start */
.teacher{
    background: url(../img/teacher-bg.jpg);

    z-index: -99;
}
.teacher .teacher-image{
    z-index: 0;
}
.teacher .teacher-image::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ea512e;
    left: 0;
    right: 0;
    top: 0;
    z-index:-1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 30s linear infinite alternate forwards;
}

.teacher .teacher-image img{
    border-radius: 50%;
    padding: 20px;
    

}

.teacher .social-media{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 0px;
    margin-bottom: -70px;
    transition: all 0.1s ease-in;
}
.teacher .social-media  li   {
    width: 30px;
    height: 30px;
    line-height: 32px;
    background: #ea512e;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}
.teacher .social-media  li:hover{
    background: #f5890d;
    transition: all 0.1s ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.teacher .teacher-image:hover .social-media{
    margin-bottom:0px;
    transition: all 0.2s ease-out;

}
.teacher .social-media  li a  {
    color: #fff;
}
.teacher  h6{
    font-weight: 600;
    margin-top: -08px;
}
/* Our core teacher section end */

/* Our testimonials section start */
.testimonials .nav-button button{
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 45px;
    line-height: 7px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    background: #ea512e;
    margin-left: -55px;
    margin-right: -55px;
    transition: 0.4s all linear;
}
.testimonials .nav-button:hover button{
    background: #f5890d;
    transition: all 0.2s linear;
}
.testimonials .card-teacher{
    height:auto;
    padding: 20px;
    border-radius:49%;
    border: none;
    z-index: 99 !important;
    text-align: center;
}

.testimonials .card-teacher div{
    width: 65px;
    height: 65px;
    margin: auto;
    color: #FD4628;
    margin-bottom: 20px;
    line-height: 75px;
    border-radius: 50%;
    background: #fff;
    transition:all 0.2s linear;
}
.testimonials .card-teacher h3{
    margin-bottom: 0px;
    font-size: 25px;
}
.testimonials h5{
    font-weight:600;
    display: block;
    font-size: 15px;
    color: #FD4628;
    margin-top: 5px;
    font-family: "Roboto", sans-serif; }

 .card-teacher:hover div{
    color: #fff;
    background: #ea512e;
    transition:all 0.2s linear;

}
.testimonials .testimonials-image{
    text-align: center;
    
}


/* Our testimonials section end */


/* our Event section start */
.event{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    z-index: 9 !important;
    background:url(../img/event-bg.jpg) ;
}
/* our Event section end */









/* Buy section animation start */
 div.rotate2{
    top: 50%;
    right: 20px;
    position: fixed;
    margin-top: 10px;
    animation: rotate2;
    border-radius: 20px;
    background: #82b440;
    animation-duration: 5s;
    transition: 0.9s all;
    animation-fill-mode: both;
    padding: 10px 20px 10px 10px;
    animation-iteration-count: infinite;

 }
 div.rotate2 .envato{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
 }
 div.rotate2 .envato .envatoimage{
    width: 15px;
 }
 .rotate2:hover {
    background-color: #FD4628;
    transition: 0.9s all;
 }
/*Buy section animation end */
/* animation section start */
@keyframes move{
    0%{}
    100%{left:3%;}
}

@keyframes move2{
    0%{}
    100%{left:55%;}
}

@keyframes move4{
    0%{}
    100%{top:83%;}
}

@keyframes rotate2{
0%{transform: scale3d(1, 1, 1);}
10%,20%{transform: scale3d(0.9, 0.9, 0.9)
     rotate3d(0, 0, 1, -3deg);}

30%,50%,70%,90%{
    transform: scale3d(1.1, 1.1, 1.1)
     rotate3d(0, 0, 1, 3deg);}

     40%,60%,80%{
        transform: scale3d(1.1, 1.1, 1.1)
         rotate3d(0, 0, 1, -3deg);
     }
100%{transform: scale3d(1, 1, 1); }
}

@keyframes border-transform-default{
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;}

       14% {
            border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
        }
        28% {
            border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
        }
        42% {
            border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
        }
        56% {
            border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
        }
        70% {
            border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
        }
        84% {
            border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
        }

}
/* animation section end */